.trackContainer {
    position: relative;
    margin-bottom: 2%;
    border-bottom: 1px solid white;
}


.titleTrack {
    text-align: left;
    margin: 4% 0 2% 0;
}

.trackInfo {
    text-align: left;
    margin-bottom: 2%;
}

.addButton {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 15px;
    background-color: transparent;
    font-weight: 500;
    font-size: 1.25rem;
    border: none;
    cursor: pointer;
    transition: all 250ms linear;
}

.addButton:hover {
    color: #d6a0a9dc
}

.removalButton {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 15px;
    background-color: transparent;
    font-weight: 500;
    font-size: 1.25rem;
    border: none;
    cursor: pointer;
    transition: all 200ms linear;
}

.removalButton:hover {
    color: #d6a0a9dc
}

.audioIconContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.25% 0;
    padding: 2% 0;
}

.audioSample {
    display: inline-block;
    border-radius: 50px;
    width: 50px;
    background-color: #a2aff5;
}

.icon {
    display: inline-block;
    max-width: 10%;
    height: fit-content;
}

.noPreview {
    font-size: 1.2rem;
    font-weight: 400;
    color: rgba(46, 46, 46, 0.76);
    margin: 1% 0;
} 