.playlistContainer {
    display: flex;
    flex-flow: column nowrap;
    padding: 4.5%;
    background-color: #2329468c;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #232946;
}

.playlistName {
    padding: 2%;
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: #fffffe;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fffffe;
    margin-bottom: 2%;
}

.savePlaylistButton {
    width: fit-content;
    padding: 3% 5.5%;
    background-color: #d6a0a9;
    border: 2px solid #232946;
    border-radius: 50px;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    margin: 0 auto;
    transition: all 200ms ease;
}

.savePlaylistButton:hover {
        background-color: #64464b;
        color: #d6a0a9;
}
